<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>YouTopia Atlas</title>
    <link rel="stylesheet" href="atlas.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Anton|Bangers|Bowlby+One+SC|Do+Hyeon|Graduate|Orbitron|Oswald|Press+Start+2P|Quantico|Roboto+Mono|Rubik+Mono+One|Russo+One|Staatliches|VT323&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h2>the ATLAS <i class="fas fa-globe"></i></h2>
    </header>
    <section class="worldsCon">
      <section class="firstRow">
        <section>
          <p class="art"><a href="atlas/art">WORLD OF ART & AESTHETIC</a></p>
        </section>
        <section>
          <p class="busi"><a href="atlas/business">WORLD OF BUSINESS & ECONOMICS</a></p>
        </section>
        <section>
          <p class="acad"><a href="atlas/academia">WORLD OF EDUCATION & ACADEMIA</a></p>
        </section>
        <section>
          <p class="govt"><a href="atlas/govt">WORLD OF GOVERNMENT & POLITICS</a></p>
        </section>
      </section>
      <section class="secondRow">
        <section>
          <p class="media"><a href="atlas/media">WORLD OF MEDIA & ENTERTAINMENT</a></p>
        </section>
        <section>
          <p class="science"><a href="atlas/science">WORLD OF SCIENCE & TECHNOLOGY</a></p>
        </section>
        <section>
          <p class="spirit"><a href="atlas/spiritual">WORLD OF SPIRITUALITY & ALTERNATIVE THINKING</a></p>
        </section>
      </section>
    </section>
    <footer>
      <ul>
        <li class="leftMost"><a href="/profile">MY HOME</a></li>
        <li><span>YouTopia</span></li>
        <li class="rightMost"><a href="/feed">MY FEED</a></li>
      </ul>
    </footer>
  </body>
</html>
