<!doctype html>
<html>
<head>
    <title>Welcome to Youtopia</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Josefin+Sans|Muli|Oswald|Paytone+One|Roboto|Sen|Spartan|VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>YouTopia</h1>
  <section class="logoAndSlogan">
    <p>Your world for creativity, learning, and discovery.</p>
  </section>
  <div class="buttonDiv">
    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
  </div>
</body>
</html>
