body{
  background-color: rgb(155, 0, 139);
  font-family: 'Do Hyeon', sans-serif;
}
.container {
  background-color: rgb(142, 243, 189);
  margin: 200px auto;
  width: 40%;
  color: rgb(155, 0, 139);
}
