body{
  padding: 2%;
  background-color: rgb(155, 0, 139);
  background-image: url("./images/coverUFO.png");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
  color: rgb(142, 243, 189);
}
h1 {
  margin-top: 41.5%;
  font-size: 125px;
  font-weight: bolder;
  font-family: 'Do Hyeon', sans-serif;
}
.logoAndSlogan {
  width: 100%;
  font-size: 30px;
}
.buttonDiv {
  color: rgb(142, 243, 189);
  background-color: rgb(155, 0, 139);
}
.hide{
  display: none;
}
.show {
  display: block;
}
